[profile.default]
src = 'contracts'
out = 'out'
libs = ['node_modules', 'lib']
test = 'test'
cache_path  = 'cache_forge'
build_info = true
extra_output = ["storageLayout"]
gas_reports = ["*"]

remappings = [
  'forge-std/=lib/forge-std/src/',
  '@chimera/=lib/chimera/src/'
]
